/* Disable Selection*/
* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: Wynncraft, Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
}

/* Loading */
.overlay {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    z-index: 100;
    background-color: #f5e8c2ff;
}

@keyframes fade-out-overlay {
    0% {
        opacity: 1;
        visibility: visible;
    } 100% {
        opacity: 0;
        visibility: hidden;
    }
}

.logo {
    image-rendering: pixelated;
    width: min(40vw, 40vh);
}

.loading-bar {
    background: #808080;
    width: min(60vw, 60vh);

    border-style: none;
    border-radius: 15px;

    margin-top: 20px;
}

.loading-progress {
    background: lightgreen;
    height: 2vh;
    width: 5%;

    border: 2px solid green;
    border-radius: 15px;

    transition: 0.5s;
}

.loading-status {
    font-size: min(3vw, 3vh);
    color: lightgreen;
    text-shadow: 3px 3px green;
}

/* Other */
@font-face {
    font-family: Wynncraft;
    src: url('../rsc/WynncraftResource-Regular.ttf');
}

.ui-panel {
    width: fit-content !important;
    min-width: 256px !important;
    display: inline-grid !important;
}

.ui-tabs {
    table-layout: auto !important;
}

.ui-title {
    font-weight: 10 !important;
    font-size: 200% !important;
}

.ui-subtitle {
    font-size: 24px !important;
}

.small-text {
    font-size: 22px !important;
}

.ui-move-bar {
    border-bottom-color: #cf6d0c;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.tiny-icon {
    padding-right: 4px;
    image-rendering: pixelated;
    width: 24px;
}

/* .ui-panel {
    background-color: #d9a80bbb !important;
} */

.autoCanvas {
    position: absolute;
    width: 100vw;   height: 100vh;
    left: 0;        top: 0;

    image-rendering: pixelated;
}

.filter-img {
    padding-right: 8px;
    cursor: pointer;
    image-rendering: pixelated;
    height: 28px;
}

.opt_item {
    font-size: 28px !important;
    user-select: none;
}

.filter-search-bar {
    background: #0006;
    border-style: solid;
    border-color: white;
    border-width: 2px;

    padding-left: 6px;

    font-size: 28px;
    color: #ffff;

    outline: none;

    transition: 0.1s;
}

.filter-result-img {
    height: 38px;
    image-rendering: pixelated;
    margin-right: 8px;
}