* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: Wynncraft;
    src: url('../rsc/WynncraftResource-Regular.ttf');
}

.ui-content {
    font-family: Wynncraft, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.ui-panel {
    width: fit-content !important;
    min-width: 256px !important;
    display: inline-grid !important;
}

.ui-tabs {
    table-layout: auto !important;
}

.ui-title {
    font-weight: 10 !important;
    font-size: 200% !important;
}

.ui-subtitle {
    font-size: 24px !important;
}

.small-text {
    font-size: 22px !important;
}

.ui-move-bar {
    border-bottom-color: #cf6d0c;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.tiny-icon {
    padding-right: 4px;
    image-rendering: pixelated;
    width: 24px;
}

/* .ui-panel {
    background-color: #d9a80bbb !important;
} */

.autoCanvas {
    position: absolute;
    width: 100vw;   height: 100vh;
    left: 0;        top: 0;

    image-rendering: pixelated;
}

.filter-img {
    padding-right: 8px;
    cursor: pointer;
    image-rendering: pixelated;
    height: 28px;
}

.opt_item {
    font-size: 28px !important;
    user-select: none;
}

.filter-search-bar {
    background: #0006;
    border-style: solid;
    border-color: white;
    border-width: 2px;

    padding-left: 6px;

    font-family: Wynncraft, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: #ffff;

    outline: none;

    transition: 0.1s;
}

.filter-result-img {
    height: 38px;
    image-rendering: pixelated;
    margin-right: 8px;
}